.container{
    display: flex;
    height: 645px;
    align-content: center;
}
.eventForm{
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 25px;
    background: #c2c0c0;
    padding:2rem;
    font-family:  10px primus;
}