.drivers_page_container{
    height: 645px;
    padding-top: 50px;
    display: flex;
    font-family: "Kadwa";
    font-size: 40px;
    font-weight: 400;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.driversList{
    margin-top: 30px;
    width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}