.main_page_container{
    height: 645px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.driversList{
    margin-top: 30px;
    width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}