.drivers_page_container{
    height: 95%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
}

.eventDriversCode{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Kadwa;
    font-weight: bold;
    font-size: 50px;
}

.driversList{
    margin-top: 30px;
    width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}