.container{
    display: flex;
    height: 645px;
    align-content: center;
}

.form{
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 25px;
    background: #c2c0c0;
    padding:2rem;
    font-family:  10px primus;
}

.errorMessage{
    padding-top: 5px;
    padding-bottom: 5px;
    font: 12px Arial;
    color: red;
}