.registration_page_container{
    align-content: center;
    align-items: center;
    text-align: center;
}

.registration_page_form{
    max-width: 200px;
    margin: 2rem auto;
    border-radius: 25px;
    background: #c2c0c0;
    padding:2rem;
    font-family:  10px primus;
    height:min-content;
}

.registration_page_errorMessage{
    padding-top: 5px;
    padding-bottom: 5px;
    font: 12px Arial;
    color: red;
}