.sign_in_page_container{
    align-items: center;
    align-content: center;
    text-align: center;
    }
    


    .logInButtonContainer{
        text-align: center;
        margin-top: 1.5em;
    }

    .sign_in_page_form{
    max-width: 200px;
    margin: 2rem auto;
    border-radius: 25px;
    background: #c2c0c0;
    padding:2rem;
    font-family:  10px primus;
    }

    .signin_errorMessage{
        padding-top: 5px;
        padding-bottom: 5px;
        font: 12px Arial;
        color: red;
    }
