.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .inner-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 70px;
    justify-content: space-evenly;
    align-items: center;
    }

    .logInButtonContainer{
        text-align: center;
        margin-bottom: 10em;
        padding-top: 20px;
    }
    .newUserContainer{
        text-align: center;
        margin-bottom: 1em;
    }
    .signUpButtonContainer{
        bottom: 0;
        left: 0;
    }