* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
    
input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;

}

.App {
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

form {
    display: block;
    position: relative;
}

